*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding:30px;
    color:white;
    width:100%;
    height: auto;
}

.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}
.container h1{
    font-family: Roboto Condensed,sans-serif;
    
}

.menu{
    display: flex;
    gap: 10px;
}
.menu a{
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px;
    padding: 7px;
    color: white;
}
.menu a:hover{
    background-color: red;
    color: white;

}
    /*conteudo principal de Cupckackes*/
.conteudo1{
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    margin: 50px;
    background-color: rgba(74, 69, 69, 0.065);
    border-radius: 40px;
    padding-bottom: 10px;
} 
    
.conteudo-cupcackes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.conteudo-cupcackes img{
    width:200px;
    height: 200px;
    
}
.conteudo-cupcackes input{
    border: none;
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.conteudo-cupcackes input:hover{
    background-color: red;
    color: white;
}
.conteudo-cupcackes .preco{
    margin-top: 5px;
}

    /*conteudo principal de bolos*/

.conteudo2{
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    margin: 50px;
    background-color: rgba(74, 69, 69, 0.065);
    border-radius: 40px;
    padding-bottom: 10px;
}
.conteudo-bolos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-bolos img{
    width:200px;
    height: 200px;   
}
.conteudo-bolos input{
    border: none;
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.conteudo-bolos input:hover{
    background-color: red;
    color: white;
}
.conteudo-bolos .preco{
    margin-top: 5px;
}









s

tfoot .rodape{
    background-color: black;
    color: white;
}
